.indexcontainer {
    margin-top: 15vh;
    display: block;
    align-items: center;
    padding: 2em;
    margin-left: 5em;

    .main__hola {
      display: inline-block;
      font-family: $title-font;
      font-size: 25vw;
      animation: bounce 1s infinite;

      &:hover {
          text-shadow: 1.5vw 1.5vw #b1e5f2;
      }
    }

    @keyframes bounce {
        0% {
          transform: translateY(0);
        }
        50% {
          transform: translateY(-20px);
        }
        100% {
          transform: translateY(0);
        }
      }

    .main__paola {
        font-family: $text-font;
        margin-left: 9vw;
        font-size: 2vw;

        .espacio {
          margin-left: 1em;
        }

        span {
          &:hover {
            color:#b1e5f2;
          }
        }
    }
    
}