@media (min-width: 260px) and (max-width: 990px) {


/* navbar */
    .navpao {
        font-size: 1.5em;

        .navbar-collapse {
            
            ul {

                li {

                    border: none;
                }
            }
        }
    }

/* index */
    .main__paola {
        margin-top: 40px;
        font-size: 3vw !important;
    }

    .indexcontainer {
        margin-top: 30vh;
        margin-left: 2em;
    }

    .main__hola {
        font-size: 28vw !important;
    }

/* sobre mi y trabajos */
    .sectionmenu {
        margin-top: 28vh;
        grid-template-areas: 
        "a"
        "b";
        gap: 20vw;

        .sectionmenu__a{

            a{
                padding: 0.5em 1em;
            }
        } 

        .sectionmenu__b{
            
            a{
                padding: 0.5em 1em;
            }
        } 
        
    }

/* personal */

    .contenedorgrandepersonal {
        grid-template-areas: 
        "itema"
        "itemb"
        "itemd"
        "itemc"
        "itemf"
        "iteme";
        grid-template-columns: 1fr;

    /* Box título */
        .itema {
            margin-bottom: 0;
            a{
                margin-left: 0;
            }
        }

    /* Links Navegación Interna */
        .itemb {
            margin-top: 15vh;

            ul {
                padding-left: 0;
            }

            a {
                font-size: 1em !important;
            }
            
        }

    /* img paola */
        .itemc {
            margin-top: 0;
            margin-bottom: 30vh;
            img{
                width: 70vw;
            }
        }

    /* quien soy */
        .itemd {
            margin-top: 30vh;
            padding-top: 10vh;
            margin-left: 10vh;
            margin-bottom: 0;

            .titulos {
                font-size: 4vh;
            }
        }

    /* img educacion */
        .iteme {
            margin-top: 0;
            padding-bottom: 15vh;
            img{
                width: 70vw;
            }
        }
        
    /* educación */
        .itemf {
            margin-left: 10vh;
            padding-bottom: 0;
            margin-bottom: 0;

            .titulos {
                font-size: 6vh;
            }
        }

    }


/* programacion */

    .contenedorgrandeprogramacion {
        grid-template-areas: 
        "itema"
        "itemb"
        "itemd"
        "itemc"
        "itemf"
        "iteme"
        "itemh"
        "itemg"
        "itemj"
        "itemi";
        grid-template-columns: 1fr;

    /* Box título */
        .itema {
            margin-bottom: 0;
            a{
                margin-left: 0;
            }
        }

    /* Links Navegación Interna */
        .itemb {
            margin-top: 15vh;

            ul {
                padding-left: 0;
            }

            a {
                font-size: 1em !important;
            }
            
        }

    /* img html */
        .itemc {
            margin-top: 0;
            img{
                width: 50vw;
            }
        }

    /* texto html */    
        .itemd {
            padding-top: 30vh;
            margin-left: 10vh;
            margin-bottom: 0;

            .titulos {
                font-size: 6vh;
            }
        }

        /* img javascript */ 
        .iteme {
            margin-top: 0;
            img{
                width: 50vw;
            }
        }

        /* texto javascript */ 
        .itemf {
            padding-top: 25vh;
            margin-left: 10vh;
            margin-bottom: 0;

            .titulos {
                font-size: 6vh;
            }
        }

        /* img react */ 
        .itemg {
            margin-top: 0;
            img{
                width: 50vw;
            }
        }

        /* texto react */ 
        .itemh {
            padding-top: 25vh;
            margin-left: 10vh;
            margin-bottom: 0;

            .titulos {
                font-size: 6vh;
            }
        }

        /* img backend */ 
        .itemi {
            margin-top: 0;
            padding-bottom: 10vh;
            img{
                width: 50vw;
            }
        }

        /* texto backend */ 
        .itemj {
            padding-top: 25vh;
            margin-left: 10vh;
            margin-bottom: 0;

            .titulos {
                font-size: 6vh;
            }
        }

    }

/* profesional */

    .contenedorgrandeprofesional {
        grid-template-areas: 
        "itema"
        "itemb"
        "itemc"
        "itemd"
        "iteme"
        "itemf"
        "itemg"
        "itemh"
        "itemi"
        "itemj"
        "itemk"
        "iteml";
        grid-template-columns: 1fr;

        /* Box título */
        .itema {
            margin-bottom: 0;
            margin-left: 6vh;
            a{
                margin-left: 0;
            }
        }

        /* Links Navegación Interna */
        .itemb {
            margin-top: 10vh;

            ul {
                padding-left: 0;
            }

            a {
                font-size: 1em !important;
            }
        
        }

        /* posicion actual */
        .itemc {
            margin-top: 10vh;
            margin-bottom: 0;
        }

        /* sr associate */
        .iteme {
            margin-top: 15vh;
            padding-top: 10vh;
            margin-left: -15vh;
            margin-right: 5vh;
        }

        /* resource coordinator */
        .itemf {
            padding-top: 0;
            margin-left: -15vh;
            margin-right: 5vh;
            margin-bottom: 5vh;
        }

        /* supervisora */
        .itemg {
            padding-top: 0;
            margin-left: -15vh;
            margin-right: 5vh;
            margin-bottom: 5vh;
        }

        /* barista */
        .itemh {
            padding-top: 0;
            margin-left: -15vh;
            margin-right: 5vh;
            margin-bottom: 5vh;
        }

        /* eventos */
        .itemi {
            padding-top: 0;
            margin-left: -15vh;
            margin-right: 5vh;

            .boton-subir {
                margin-right: 20vh;
            }
        }

        /* habilidades */
        .itemk {
            padding-top: 15vh;
            margin-bottom: 5vh;
            margin-left: -15vh;
            margin-right: 5vh;
        }

        .iteml {
            padding-top: 0;
            margin-bottom: 5vh;
            margin-left: -15vh;
            margin-right: 5vh;
        }

        .titulos {
            margin-left: 20vh;
        }
        
    }

/* datos */

    .contenedorgrandedatos {
        grid-template-areas: 
        "itema"
        "itemb"
        "itemd"
        "itemc"
        "iteme"
        "itemf"
        "itemg"
        "itemh"
        "itemi"
        "itemj";
        grid-template-columns: 1fr;

        /* Box título */
        .itema {
            margin-bottom: 0;
            margin-left: 6vh;
            a{
                margin-left: 0;
            }
        }

        /* Links Navegación Interna */
        .itemb {
            margin-top: 10vh;

            ul {
                padding-left: 0;
            }

            a {
                font-size: 1em !important;
            }
        
        }

        /* img excel */
        .itemc {
            margin-top: 0;
            margin-bottom: 20vh;
            padding-top: 0;
        }

        /* texto excel */
        .itemd {
            margin-top: 15vh;
            padding-top: 10vh;
            margin-bottom: 0;
            margin-right: 5vh;

        }

        /* img sql */
        .itemf {
            margin-top: 0;
            margin-bottom: 20vh;
            padding-top: 0;
        }

        /* texto sql */
        .iteme {
            margin-top: 15vh;
            padding-top: 10vh;
            margin-bottom: 0;
            margin-right: 5vh;

        }

        /* img powerbi */
        .itemh {
            margin-top: 0;
            margin-bottom: 20vh;
            padding-top: 0;
        }

        /* texto powerbi */
        .itemg {
            margin-top: 15vh;
            padding-top: 10vh;
            margin-right: 5vh;
            margin-bottom: 0;

        }

        /* img python */
        .itemj {
            margin-top: 0;
            margin-bottom: 0;
            padding-top: 0;
            padding-bottom: 50vh;
        }

        /* texto python */
        .itemi {
            margin-top: 15vh;
            padding-top: 10vh;
            margin-right: 5vh;
            margin-bottom: 0;

        }

        .boton-subir {
            margin-left: 35vw;
        }
        
    }

/* contacto */

    .sectionmenu__c {
        margin-top: -5vh;
    }

    .formulariopao {
        padding-bottom: 30vh;
    }

}