.contenedorgrandeprogramacion {
    margin-top: 12vh;
    height: 100vh;
    display: grid;
    grid-template-areas: 
    "itema itemb"
    "itemc itemd"
    "iteme itemf"
    "itemg itemh"
    "itemi itemj";
    grid-template-columns: 1fr 3fr;

    /* Box título */
    .itema {
        margin-top: 25vh;
        margin-bottom: 40vh;
        font-family: $title-font;
        grid-area: itema;
        
        a {
            text-decoration: none;
            color: black;
            font-size: 10vw;
            padding: 0.2em 0.7em;
            margin-left: 5vh;
            border: solid black;
            background-color: #FFFFFF;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='120' height='120' viewBox='0 0 120 120'%3E%3Cpolygon fill='%23B1E5F2' fill-opacity='0.52' points='120 0 120 60 90 30 60 0 0 0 0 0 60 60 0 120 60 120 90 90 120 60 120 0'/%3E%3C/svg%3E");
            box-shadow: 1.5vw 1vw 0.5vw #A6A6A8;
        }
    }

    /* Links Navegación Interna */
    .itemb {
        grid-area: itemb;
        margin-top: 27vh;

        .linksinternos {
            ul {
                margin-top: 2vh;
                list-style: none;
                display: block;

                a {
                    font-family: $text-font;
                    font-size: 1.5em;
                    color: black;

                    &:hover {
                        color: #b1e5f2;
                    }
                }
            }
        }
        
    }

    /* img html */
    .itemc {
        grid-area: itemc;
        margin-top: 15vh;
        img {
            width: 30vw;
        }
    }

    /* texto html */
    .itemd {
        grid-area: itemd;
        padding-top: 20vh;
        margin-bottom: 40vh;
        margin-right: 10vh;

        .titulos {
            font-family: $title-font;
            font-size: 8vh;
            margin-bottom: 4vh;

            &:hover {
                text-decoration: underline #b1e5f2;
            }
            
        }

        ul {
            list-style: none;
            li{
                font-family: $text-font;
            }
        }
    }

    /* img javascript */
    .iteme {
        grid-area: iteme;
        margin-top: 20vh;
        img {
            width: 30vw;
        }
    }

    /* texto javascript */
    .itemf {
        grid-area: itemf;
        margin-bottom: 60vh;
        text-align: start;
        padding-top: 30vh;
        margin-right: 10vh;

        .titulos {
            font-family: $title-font;
            font-size: 8vh;
            margin-bottom: 4vh;
            text-align: center;

            &:hover {
                text-decoration: underline #b1e5f2;
            }
            
        }

        ul {
            font-family: $text-font;
            text-align: start;
            font-size: 0.8em;
                li {
                    font-family: $text-font;
                    list-style: none;
                    text-align: center;
                }

        }
    }

    /* img react */
    .itemg {
        grid-area: itemg;
        margin-top: 20vh;
        img {
            width: 40vw;
        }
    }

    /* texto react */
    .itemh {
        grid-area: itemh;
        margin-bottom: 60vh;
        text-align: start;
        padding-top: 30vh;
        margin-right: 10vh;

        .titulos {
            font-family: $title-font;
            font-size: 8vh;
            margin-bottom: 4vh;
            text-align: center;

            &:hover {
                text-decoration: underline #b1e5f2;
            }
            
        }

        ul {
            font-family: $text-font;
            text-align: start;
            font-size: 0.8em;
                li {
                    font-family: $text-font;
                    list-style: none;
                    text-align: center;
                }

        }
    }

    /* img backend */
    .itemi {
        grid-area: itemi;
        margin-top: 20vh;
        img {
            width: 40vw;
        }
    }

    /* texto backend */
    .itemj {
        grid-area: itemj;
        margin-bottom: 60vh;
        text-align: start;
        padding-top: 30vh;
        margin-right: 10vh;

        .titulos {
            font-family: $title-font;
            font-size: 8vh;
            margin-bottom: 4vh;
            text-align: center;

            &:hover {
                text-decoration: underline #b1e5f2;
            }
            
        }

        ul {
            font-family: $text-font;
            text-align: start;
            font-size: 0.8em;
                li {
                    font-family: $text-font;
                    list-style: none;
                    text-align: center;
                }

        }
    }

}


