@charset "UTF-8";
/* navbar */
.dropdown-menu {
  min-width: 0 !important;
  background-color: #F8F9FA !important;
  border: none !important;
}

/* body - www.svgbackgrounds.com */
body {
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='120' height='120' viewBox='0 0 120 120'%3E%3Cpolygon fill='%23A6A6A8' fill-opacity='0.22' points='120 0 120 60 90 30 60 0 0 0 0 0 60 60 0 120 60 120 90 90 120 60 120 0'/%3E%3C/svg%3E");
  /* font-family: 'Josefin Sans', sans-serif; */
}

/* menú de navegación */
.navpao {
  font-family: "Amatic SC", cursive;
  font-size: 2em;
  top: 0;
  position: fixed;
  width: 100vw;
  padding-right: 1em;
  z-index: 9999;
}
.navpao ul .borderpao {
  border-right: solid 1px black;
  padding-right: 1em;
  padding-left: 1em;
}
.navpao ul .borderfinalpao {
  padding-right: 1em;
  padding-left: 1em;
}
.navpao ul li {
  list-style: none;
  position: relative;
  display: inline;
}
.navpao ul li ul {
  display: none;
  position: absolute;
}
.navpao ul li:hover ul {
  display: block;
  text-align: center;
  font-size: 0.6em;
}
.navpao ul li a {
  color: black;
  text-decoration: none;
}
.navpao ul li a:hover {
  color: #a6a6a8;
}

/* links subir */
.boton-subir {
  font-family: "Amatic SC", cursive;
  font-size: 2.5vh;
  float: right;
}
.boton-subir a {
  color: black;
}
.boton-subir a:hover {
  color: #a6a6a8;
}

/* footer */
footer {
  font-family: "Amatic SC", cursive;
  background-color: #F8F9FA;
  display: flex;
  justify-content: end;
  gap: 1em;
  padding-right: 2em;
}
footer img {
  height: 2em;
}

.indexcontainer {
  margin-top: 15vh;
  display: block;
  align-items: center;
  padding: 2em;
  margin-left: 5em;
}
.indexcontainer .main__hola {
  display: inline-block;
  font-family: "Amatic SC", cursive;
  font-size: 25vw;
  animation: bounce 1s infinite;
}
.indexcontainer .main__hola:hover {
  text-shadow: 1.5vw 1.5vw #b1e5f2;
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
.indexcontainer .main__paola {
  font-family: "Josefin Sans", sans-serif;
  margin-left: 9vw;
  font-size: 2vw;
}
.indexcontainer .main__paola .espacio {
  margin-left: 1em;
}
.indexcontainer .main__paola span:hover {
  color: #b1e5f2;
}

.sectionmenu {
  margin-top: 38vh;
  font-family: "Amatic SC", cursive;
  display: grid;
  grid-template-areas: "a b";
}
.sectionmenu .sectionmenu__a {
  grid-area: a;
  transform: rotate(-7deg);
}
.sectionmenu .sectionmenu__a:hover {
  transform: scale(1);
}
.sectionmenu .sectionmenu__a a {
  text-decoration: none;
  color: black;
  font-size: 10vw;
  padding: 0.2em 0.7em;
  border: solid black;
}
.sectionmenu .sectionmenu__a a:hover {
  background-color: #FFFFFF;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='120' height='120' viewBox='0 0 120 120'%3E%3Cpolygon fill='%23B1E5F2' fill-opacity='0.52' points='120 0 120 60 90 30 60 0 0 0 0 0 60 60 0 120 60 120 90 90 120 60 120 0'/%3E%3C/svg%3E");
  box-shadow: 1.5vw 1vw 0.5vw #A6A6A8;
}
.sectionmenu .sectionmenu__b {
  grid-area: b;
  transform: rotate(10deg);
}
.sectionmenu .sectionmenu__b:hover {
  transform: scale(1);
}
.sectionmenu .sectionmenu__b a {
  text-decoration: none;
  color: black;
  font-size: 10vw;
  padding: 0.2em 0.7em;
  border: solid black;
}
.sectionmenu .sectionmenu__b a:hover {
  background-color: #FFFFFF;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='120' height='120' viewBox='0 0 120 120'%3E%3Cpolygon fill='%23B1E5F2' fill-opacity='0.52' points='120 0 120 60 90 30 60 0 0 0 0 0 60 60 0 120 60 120 90 90 120 60 120 0'/%3E%3C/svg%3E");
  box-shadow: 1.5vw 1vw 0.5vw #A6A6A8;
}

.contenedorgrandepersonal {
  margin-top: 12vh;
  height: 100vh;
  display: grid;
  grid-template-areas: "itema itemb" "itemc itemd" "iteme itemf" "itemg itemh" "itemi itemj";
  grid-template-columns: 1fr 3fr;
  /* Box título */
  /* Links Navegación Interna */
  /* img paola */
  /* quien soy */
  /* img educación */
  /* educación */
}
.contenedorgrandepersonal .itema {
  margin-top: 25vh;
  margin-bottom: 40vh;
  font-family: "Amatic SC", cursive;
  grid-area: itema;
}
.contenedorgrandepersonal .itema a {
  text-decoration: none;
  color: black;
  font-size: 10vw;
  padding: 0.2em 0.7em;
  margin-left: 5vh;
  border: solid black;
  background-color: #FFFFFF;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='120' height='120' viewBox='0 0 120 120'%3E%3Cpolygon fill='%23B1E5F2' fill-opacity='0.52' points='120 0 120 60 90 30 60 0 0 0 0 0 60 60 0 120 60 120 90 90 120 60 120 0'/%3E%3C/svg%3E");
  box-shadow: 1.5vw 1vw 0.5vw #A6A6A8;
}
.contenedorgrandepersonal .itemb {
  grid-area: itemb;
  margin-top: 30vh;
}
.contenedorgrandepersonal .itemb .linksinternos ul {
  margin-top: 2vh;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 15vw;
}
.contenedorgrandepersonal .itemb .linksinternos ul a {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5em;
  color: black;
}
.contenedorgrandepersonal .itemb .linksinternos ul a:hover {
  color: #b1e5f2;
}
.contenedorgrandepersonal .itemc {
  grid-area: itemc;
  margin-top: 30vh;
}
.contenedorgrandepersonal .itemc img {
  width: 30vw;
}
.contenedorgrandepersonal .itemd {
  grid-area: itemd;
  padding-top: 20vh;
  margin-bottom: 40vh;
  margin-right: 10vh;
}
.contenedorgrandepersonal .itemd .titulos {
  font-family: "Amatic SC", cursive;
  font-size: 8vh;
  margin-bottom: 4vh;
}
.contenedorgrandepersonal .itemd .titulos:hover {
  -webkit-text-decoration: underline #b1e5f2;
          text-decoration: underline #b1e5f2;
}
.contenedorgrandepersonal .itemd p {
  font-family: "Josefin Sans", sans-serif;
  font-size: 0.8em;
  text-align: start;
}
.contenedorgrandepersonal .iteme {
  grid-area: iteme;
  margin-top: 30vh;
}
.contenedorgrandepersonal .iteme img {
  width: 60%;
}
.contenedorgrandepersonal .itemf {
  grid-area: itemf;
  margin-bottom: 20vh;
  text-align: start;
  padding-top: 15vh;
  margin-right: 10vh;
}
.contenedorgrandepersonal .itemf .fechas {
  font-family: "Amatic SC", cursive;
  color: #A6A6A8;
}
.contenedorgrandepersonal .itemf .titulos {
  font-family: "Amatic SC", cursive;
  font-size: 8vh;
  margin-bottom: 4vh;
  text-align: center;
}
.contenedorgrandepersonal .itemf .titulos:hover {
  -webkit-text-decoration: underline #b1e5f2;
          text-decoration: underline #b1e5f2;
}
.contenedorgrandepersonal .itemf h4 {
  font-family: "Amatic SC", cursive;
}
.contenedorgrandepersonal .itemf ul {
  text-align: start;
  font-size: 0.8em;
}
.contenedorgrandepersonal .itemf ul li {
  font-family: "Josefin Sans", sans-serif;
  list-style: none;
  text-align: start;
}

.contenedorgrandeprogramacion {
  margin-top: 12vh;
  height: 100vh;
  display: grid;
  grid-template-areas: "itema itemb" "itemc itemd" "iteme itemf" "itemg itemh" "itemi itemj";
  grid-template-columns: 1fr 3fr;
  /* Box título */
  /* Links Navegación Interna */
  /* img html */
  /* texto html */
  /* img javascript */
  /* texto javascript */
  /* img react */
  /* texto react */
  /* img backend */
  /* texto backend */
}
.contenedorgrandeprogramacion .itema {
  margin-top: 25vh;
  margin-bottom: 40vh;
  font-family: "Amatic SC", cursive;
  grid-area: itema;
}
.contenedorgrandeprogramacion .itema a {
  text-decoration: none;
  color: black;
  font-size: 10vw;
  padding: 0.2em 0.7em;
  margin-left: 5vh;
  border: solid black;
  background-color: #FFFFFF;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='120' height='120' viewBox='0 0 120 120'%3E%3Cpolygon fill='%23B1E5F2' fill-opacity='0.52' points='120 0 120 60 90 30 60 0 0 0 0 0 60 60 0 120 60 120 90 90 120 60 120 0'/%3E%3C/svg%3E");
  box-shadow: 1.5vw 1vw 0.5vw #A6A6A8;
}
.contenedorgrandeprogramacion .itemb {
  grid-area: itemb;
  margin-top: 27vh;
}
.contenedorgrandeprogramacion .itemb .linksinternos ul {
  margin-top: 2vh;
  list-style: none;
  display: block;
}
.contenedorgrandeprogramacion .itemb .linksinternos ul a {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5em;
  color: black;
}
.contenedorgrandeprogramacion .itemb .linksinternos ul a:hover {
  color: #b1e5f2;
}
.contenedorgrandeprogramacion .itemc {
  grid-area: itemc;
  margin-top: 15vh;
}
.contenedorgrandeprogramacion .itemc img {
  width: 30vw;
}
.contenedorgrandeprogramacion .itemd {
  grid-area: itemd;
  padding-top: 20vh;
  margin-bottom: 40vh;
  margin-right: 10vh;
}
.contenedorgrandeprogramacion .itemd .titulos {
  font-family: "Amatic SC", cursive;
  font-size: 8vh;
  margin-bottom: 4vh;
}
.contenedorgrandeprogramacion .itemd .titulos:hover {
  -webkit-text-decoration: underline #b1e5f2;
          text-decoration: underline #b1e5f2;
}
.contenedorgrandeprogramacion .itemd ul {
  list-style: none;
}
.contenedorgrandeprogramacion .itemd ul li {
  font-family: "Josefin Sans", sans-serif;
}
.contenedorgrandeprogramacion .iteme {
  grid-area: iteme;
  margin-top: 20vh;
}
.contenedorgrandeprogramacion .iteme img {
  width: 30vw;
}
.contenedorgrandeprogramacion .itemf {
  grid-area: itemf;
  margin-bottom: 60vh;
  text-align: start;
  padding-top: 30vh;
  margin-right: 10vh;
}
.contenedorgrandeprogramacion .itemf .titulos {
  font-family: "Amatic SC", cursive;
  font-size: 8vh;
  margin-bottom: 4vh;
  text-align: center;
}
.contenedorgrandeprogramacion .itemf .titulos:hover {
  -webkit-text-decoration: underline #b1e5f2;
          text-decoration: underline #b1e5f2;
}
.contenedorgrandeprogramacion .itemf ul {
  font-family: "Josefin Sans", sans-serif;
  text-align: start;
  font-size: 0.8em;
}
.contenedorgrandeprogramacion .itemf ul li {
  font-family: "Josefin Sans", sans-serif;
  list-style: none;
  text-align: center;
}
.contenedorgrandeprogramacion .itemg {
  grid-area: itemg;
  margin-top: 20vh;
}
.contenedorgrandeprogramacion .itemg img {
  width: 40vw;
}
.contenedorgrandeprogramacion .itemh {
  grid-area: itemh;
  margin-bottom: 60vh;
  text-align: start;
  padding-top: 30vh;
  margin-right: 10vh;
}
.contenedorgrandeprogramacion .itemh .titulos {
  font-family: "Amatic SC", cursive;
  font-size: 8vh;
  margin-bottom: 4vh;
  text-align: center;
}
.contenedorgrandeprogramacion .itemh .titulos:hover {
  -webkit-text-decoration: underline #b1e5f2;
          text-decoration: underline #b1e5f2;
}
.contenedorgrandeprogramacion .itemh ul {
  font-family: "Josefin Sans", sans-serif;
  text-align: start;
  font-size: 0.8em;
}
.contenedorgrandeprogramacion .itemh ul li {
  font-family: "Josefin Sans", sans-serif;
  list-style: none;
  text-align: center;
}
.contenedorgrandeprogramacion .itemi {
  grid-area: itemi;
  margin-top: 20vh;
}
.contenedorgrandeprogramacion .itemi img {
  width: 40vw;
}
.contenedorgrandeprogramacion .itemj {
  grid-area: itemj;
  margin-bottom: 60vh;
  text-align: start;
  padding-top: 30vh;
  margin-right: 10vh;
}
.contenedorgrandeprogramacion .itemj .titulos {
  font-family: "Amatic SC", cursive;
  font-size: 8vh;
  margin-bottom: 4vh;
  text-align: center;
}
.contenedorgrandeprogramacion .itemj .titulos:hover {
  -webkit-text-decoration: underline #b1e5f2;
          text-decoration: underline #b1e5f2;
}
.contenedorgrandeprogramacion .itemj ul {
  font-family: "Josefin Sans", sans-serif;
  text-align: start;
  font-size: 0.8em;
}
.contenedorgrandeprogramacion .itemj ul li {
  font-family: "Josefin Sans", sans-serif;
  list-style: none;
  text-align: center;
}

.contenedorgrandeprofesional {
  margin-top: 12vh;
  height: 100vh;
  display: grid;
  grid-template-areas: "itemb itema" "itemd itemc" "iteme itemf" "itemg itemh" "itemi itemj" "itemk iteml";
  grid-template-columns: 3fr 1fr;
  /* Box titulo */
  /* links navegacion interna */
  /* posicion actual */
  /* sr associate */
  /* resource coordinator */
  /* supervisora */
  /* barista */
  /* eventos */
  /* fechas */
  /* titulos */
  /* subtitulos */
}
.contenedorgrandeprofesional .itema {
  margin-top: 25vh;
  margin-bottom: 10vh;
  margin-right: 6vh;
  font-family: "Amatic SC", cursive;
  grid-area: itema;
}
.contenedorgrandeprofesional .itema a {
  text-decoration: none;
  color: black;
  font-size: 10vw;
  padding: 0.2em 0.7em;
  margin-left: 5vh;
  border: solid black;
  background-color: #FFFFFF;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='120' height='120' viewBox='0 0 120 120'%3E%3Cpolygon fill='%23B1E5F2' fill-opacity='0.52' points='120 0 120 60 90 30 60 0 0 0 0 0 60 60 0 120 60 120 90 90 120 60 120 0'/%3E%3C/svg%3E");
  box-shadow: 1.5vw 1vw 0.5vw #A6A6A8;
}
.contenedorgrandeprofesional .itemb {
  grid-area: itemb;
  margin-top: 30vh;
}
.contenedorgrandeprofesional .itemb .linksinternos ul {
  margin-top: 2vh;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 8vw;
}
.contenedorgrandeprofesional .itemb .linksinternos ul a {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5em;
  color: black;
}
.contenedorgrandeprofesional .itemb .linksinternos ul a:hover {
  color: #b1e5f2;
}
.contenedorgrandeprofesional .itemc {
  grid-area: itemc;
  margin-top: 0;
  margin-bottom: 20vh;
  font-family: "Josefin Sans", sans-serif;
  margin-right: 5vh;
  margin-left: 5vh;
}
.contenedorgrandeprofesional .itemc img {
  width: 30vw;
}
.contenedorgrandeprofesional .iteme {
  grid-area: iteme;
  padding-top: 10vh;
  margin-bottom: 10vh;
}
.contenedorgrandeprofesional .iteme ul {
  list-style: none;
  text-align: start;
  margin-left: 15vh;
  margin-top: 5vh;
}
.contenedorgrandeprofesional .iteme ul li {
  font-family: "Josefin Sans", sans-serif;
}
.contenedorgrandeprofesional .itemf {
  grid-area: itemf;
  margin-bottom: 20vh;
  padding-top: 30vh;
}
.contenedorgrandeprofesional .itemf ul {
  font-family: "Josefin Sans", sans-serif;
  text-align: start;
  margin-top: 5vh;
  margin-left: 15vh;
}
.contenedorgrandeprofesional .itemf ul li {
  font-family: "Josefin Sans", sans-serif;
  list-style: none;
}
.contenedorgrandeprofesional .itemg {
  grid-area: itemg;
  margin-bottom: 10vh;
}
.contenedorgrandeprofesional .itemg ul {
  list-style: none;
  text-align: start;
  margin-left: 15vh;
  margin-top: 5vh;
}
.contenedorgrandeprofesional .itemg ul li {
  font-family: "Josefin Sans", sans-serif;
}
.contenedorgrandeprofesional .itemh {
  grid-area: itemh;
}
.contenedorgrandeprofesional .itemh ul {
  font-family: "Josefin Sans", sans-serif;
  text-align: start;
  margin-top: 5vh;
  margin-left: 15vh;
}
.contenedorgrandeprofesional .itemh ul li {
  font-family: "Josefin Sans", sans-serif;
  list-style: none;
}
.contenedorgrandeprofesional .itemi {
  grid-area: itemi;
  margin-bottom: 30vh;
}
.contenedorgrandeprofesional .itemi ul {
  list-style: none;
  text-align: start;
  margin-left: 15vh;
  margin-top: 5vh;
}
.contenedorgrandeprofesional .itemi ul li {
  font-family: "Josefin Sans", sans-serif;
}
.contenedorgrandeprofesional .fechas {
  font-family: "Amatic SC", cursive;
  color: #A6A6A8;
}
.contenedorgrandeprofesional .titulos {
  font-family: "Amatic SC", cursive;
  font-size: 8vh;
  margin-bottom: 10vh;
}
.contenedorgrandeprofesional .titulos:hover {
  -webkit-text-decoration: underline #b1e5f2;
          text-decoration: underline #b1e5f2;
}
.contenedorgrandeprofesional h4 {
  font-family: "Amatic SC", cursive;
}
.contenedorgrandeprofesional .itemk {
  grid-area: itemk;
  padding-top: 30vh;
  margin-bottom: 10vh;
}
.contenedorgrandeprofesional .itemk ul {
  list-style: none;
  text-align: start;
  margin-left: 15vh;
  margin-top: 5vh;
}
.contenedorgrandeprofesional .itemk ul li {
  font-family: "Josefin Sans", sans-serif;
}
.contenedorgrandeprofesional .iteml {
  grid-area: iteml;
  padding-top: 50vh;
  margin-bottom: 10vh;
  padding-bottom: 30vh;
  margin-right: 10vh;
}
.contenedorgrandeprofesional .iteml ul {
  list-style: none;
  text-align: start;
  margin-left: 15vh;
  margin-top: 5vh;
}
.contenedorgrandeprofesional .iteml ul li {
  font-family: "Josefin Sans", sans-serif;
}

.contenedorgrandedatos {
  margin-top: 12vh;
  height: 100vh;
  display: grid;
  grid-template-areas: "itemb itema" "itemd itemc" "iteme itemf" "itemg itemh" "itemi itemj";
  grid-template-columns: 3fr 1fr;
  /* Box titulo */
  /* links navegación interna */
  /* img excel */
  /* texto excel */
  /* img sql */
  /* texto sql */
  /* img power bi */
  /* texto power bi */
  /* img python */
  /* texto python */
}
.contenedorgrandedatos .itema {
  margin-top: 25vh;
  margin-bottom: 40vh;
  margin-right: 6vh;
  font-family: "Amatic SC", cursive;
  grid-area: itema;
}
.contenedorgrandedatos .itema a {
  text-decoration: none;
  color: black;
  font-size: 10vw;
  padding: 0.2em 0.7em;
  margin-left: 5vh;
  border: solid black;
  background-color: #FFFFFF;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='120' height='120' viewBox='0 0 120 120'%3E%3Cpolygon fill='%23B1E5F2' fill-opacity='0.52' points='120 0 120 60 90 30 60 0 0 0 0 0 60 60 0 120 60 120 90 90 120 60 120 0'/%3E%3C/svg%3E");
  box-shadow: 1.5vw 1vw 0.5vw #A6A6A8;
}
.contenedorgrandedatos .itemb {
  grid-area: itemb;
  margin-top: 30vh;
}
.contenedorgrandedatos .itemb .linksinternos ul {
  margin-top: 2vh;
  list-style: none;
  display: block;
}
.contenedorgrandedatos .itemb .linksinternos ul a {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5em;
  color: black;
}
.contenedorgrandedatos .itemb .linksinternos ul a:hover {
  color: #b1e5f2;
}
.contenedorgrandedatos .itemc {
  grid-area: itemc;
  margin-top: 20vh;
  margin-bottom: 20vh;
  font-family: "Josefin Sans", sans-serif;
  padding-top: 20vh;
}
.contenedorgrandedatos .itemc img {
  width: 30vw;
}
.contenedorgrandedatos .itemd {
  grid-area: itemd;
  padding-top: 40vh;
  margin-bottom: 40vh;
}
.contenedorgrandedatos .itemd ul {
  list-style: none;
}
.contenedorgrandedatos .itemd ul li {
  font-family: "Josefin Sans", sans-serif;
}
.contenedorgrandedatos .itemf {
  grid-area: itemf;
  margin-top: 20vh;
  margin-bottom: 20vh;
  font-family: "Josefin Sans", sans-serif;
  padding-top: 20vh;
}
.contenedorgrandedatos .itemf img {
  width: 30vw;
}
.contenedorgrandedatos .iteme {
  grid-area: iteme;
  padding-top: 40vh;
  margin-bottom: 40vh;
}
.contenedorgrandedatos .iteme ul {
  list-style: none;
}
.contenedorgrandedatos .iteme ul li {
  font-family: "Josefin Sans", sans-serif;
}
.contenedorgrandedatos .itemh {
  grid-area: itemh;
  margin-top: 20vh;
  margin-bottom: 20vh;
  font-family: "Josefin Sans", sans-serif;
  padding-top: 20vh;
}
.contenedorgrandedatos .itemh img {
  width: 30vw;
}
.contenedorgrandedatos .itemg {
  grid-area: itemg;
  padding-top: 40vh;
  margin-bottom: 40vh;
}
.contenedorgrandedatos .itemg ul {
  list-style: none;
}
.contenedorgrandedatos .itemg ul li {
  font-family: "Josefin Sans", sans-serif;
}
.contenedorgrandedatos .itemj {
  grid-area: itemj;
  margin-top: 20vh;
  margin-bottom: 20vh;
  font-family: "Josefin Sans", sans-serif;
  padding-top: 20vh;
  padding-bottom: 40vh;
}
.contenedorgrandedatos .itemj img {
  width: 30vw;
}
.contenedorgrandedatos .itemi {
  grid-area: itemi;
  padding-top: 40vh;
  margin-bottom: 40vh;
}
.contenedorgrandedatos .itemi ul {
  list-style: none;
}
.contenedorgrandedatos .itemi ul li {
  font-family: "Josefin Sans", sans-serif;
}
.contenedorgrandedatos .titulos {
  font-family: "Amatic SC", cursive;
  margin-bottom: 4vh;
  font-size: 8vh;
  text-align: center;
}
.contenedorgrandedatos .titulos:hover {
  -webkit-text-decoration: underline #b1e5f2;
          text-decoration: underline #b1e5f2;
}
.contenedorgrandedatos .boton-subir {
  float: left;
  margin-left: 20vw;
}

.sectionmenu .sectionmenu__c p {
  margin-top: -3vw;
  margin-bottom: -3vw;
  font-size: 10vw;
}
.sectionmenu .sectionmenu__c p:hover {
  text-shadow: 1.5vw 1.5vw #b1e5f2;
}
.sectionmenu .sectionmenu__d {
  font-family: "Josefin Sans", sans-serif;
}
.sectionmenu .sectionmenu__d .contactopao {
  margin-top: -5vw;
  margin-bottom: 5vw;
}
.sectionmenu .sectionmenu__d .contactopao ul li {
  list-style: none;
}
.sectionmenu .sectionmenu__d .contactopao ul li a {
  color: black;
}
.sectionmenu .sectionmenu__d .contactopao ul li a:hover {
  color: #b1e5f2;
}
.sectionmenu .sectionmenu__d .formulariopao {
  padding-bottom: 30vh;
}
.sectionmenu .sectionmenu__d .formulariopao .formularionombre {
  margin-bottom: 2vw;
}
.sectionmenu .sectionmenu__d .formulariopao .formularioemail {
  margin-bottom: 2vw;
}

@media (min-width: 260px) and (max-width: 990px) {
  /* navbar */
  .navpao {
    font-size: 1.5em;
  }
  .navpao .navbar-collapse ul li {
    border: none;
  }
  /* index */
  .main__paola {
    margin-top: 40px;
    font-size: 3vw !important;
  }
  .indexcontainer {
    margin-top: 30vh;
    margin-left: 2em;
  }
  .main__hola {
    font-size: 28vw !important;
  }
  /* sobre mi y trabajos */
  .sectionmenu {
    margin-top: 28vh;
    grid-template-areas: "a" "b";
    gap: 20vw;
  }
  .sectionmenu .sectionmenu__a a {
    padding: 0.5em 1em;
  }
  .sectionmenu .sectionmenu__b a {
    padding: 0.5em 1em;
  }
  /* personal */
  .contenedorgrandepersonal {
    grid-template-areas: "itema" "itemb" "itemd" "itemc" "itemf" "iteme";
    grid-template-columns: 1fr;
    /* Box título */
    /* Links Navegación Interna */
    /* img paola */
    /* quien soy */
    /* img educacion */
    /* educación */
  }
  .contenedorgrandepersonal .itema {
    margin-bottom: 0;
  }
  .contenedorgrandepersonal .itema a {
    margin-left: 0;
  }
  .contenedorgrandepersonal .itemb {
    margin-top: 15vh;
  }
  .contenedorgrandepersonal .itemb ul {
    padding-left: 0;
  }
  .contenedorgrandepersonal .itemb a {
    font-size: 1em !important;
  }
  .contenedorgrandepersonal .itemc {
    margin-top: 0;
    margin-bottom: 30vh;
  }
  .contenedorgrandepersonal .itemc img {
    width: 70vw;
  }
  .contenedorgrandepersonal .itemd {
    margin-top: 30vh;
    padding-top: 10vh;
    margin-left: 10vh;
    margin-bottom: 0;
  }
  .contenedorgrandepersonal .itemd .titulos {
    font-size: 4vh;
  }
  .contenedorgrandepersonal .iteme {
    margin-top: 0;
    padding-bottom: 15vh;
  }
  .contenedorgrandepersonal .iteme img {
    width: 70vw;
  }
  .contenedorgrandepersonal .itemf {
    margin-left: 10vh;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .contenedorgrandepersonal .itemf .titulos {
    font-size: 6vh;
  }
  /* programacion */
  .contenedorgrandeprogramacion {
    grid-template-areas: "itema" "itemb" "itemd" "itemc" "itemf" "iteme" "itemh" "itemg" "itemj" "itemi";
    grid-template-columns: 1fr;
    /* Box título */
    /* Links Navegación Interna */
    /* img html */
    /* texto html */
    /* img javascript */
    /* texto javascript */
    /* img react */
    /* texto react */
    /* img backend */
    /* texto backend */
  }
  .contenedorgrandeprogramacion .itema {
    margin-bottom: 0;
  }
  .contenedorgrandeprogramacion .itema a {
    margin-left: 0;
  }
  .contenedorgrandeprogramacion .itemb {
    margin-top: 15vh;
  }
  .contenedorgrandeprogramacion .itemb ul {
    padding-left: 0;
  }
  .contenedorgrandeprogramacion .itemb a {
    font-size: 1em !important;
  }
  .contenedorgrandeprogramacion .itemc {
    margin-top: 0;
  }
  .contenedorgrandeprogramacion .itemc img {
    width: 50vw;
  }
  .contenedorgrandeprogramacion .itemd {
    padding-top: 30vh;
    margin-left: 10vh;
    margin-bottom: 0;
  }
  .contenedorgrandeprogramacion .itemd .titulos {
    font-size: 6vh;
  }
  .contenedorgrandeprogramacion .iteme {
    margin-top: 0;
  }
  .contenedorgrandeprogramacion .iteme img {
    width: 50vw;
  }
  .contenedorgrandeprogramacion .itemf {
    padding-top: 25vh;
    margin-left: 10vh;
    margin-bottom: 0;
  }
  .contenedorgrandeprogramacion .itemf .titulos {
    font-size: 6vh;
  }
  .contenedorgrandeprogramacion .itemg {
    margin-top: 0;
  }
  .contenedorgrandeprogramacion .itemg img {
    width: 50vw;
  }
  .contenedorgrandeprogramacion .itemh {
    padding-top: 25vh;
    margin-left: 10vh;
    margin-bottom: 0;
  }
  .contenedorgrandeprogramacion .itemh .titulos {
    font-size: 6vh;
  }
  .contenedorgrandeprogramacion .itemi {
    margin-top: 0;
    padding-bottom: 10vh;
  }
  .contenedorgrandeprogramacion .itemi img {
    width: 50vw;
  }
  .contenedorgrandeprogramacion .itemj {
    padding-top: 25vh;
    margin-left: 10vh;
    margin-bottom: 0;
  }
  .contenedorgrandeprogramacion .itemj .titulos {
    font-size: 6vh;
  }
  /* profesional */
  .contenedorgrandeprofesional {
    grid-template-areas: "itema" "itemb" "itemc" "itemd" "iteme" "itemf" "itemg" "itemh" "itemi" "itemj" "itemk" "iteml";
    grid-template-columns: 1fr;
    /* Box título */
    /* Links Navegación Interna */
    /* posicion actual */
    /* sr associate */
    /* resource coordinator */
    /* supervisora */
    /* barista */
    /* eventos */
    /* habilidades */
  }
  .contenedorgrandeprofesional .itema {
    margin-bottom: 0;
    margin-left: 6vh;
  }
  .contenedorgrandeprofesional .itema a {
    margin-left: 0;
  }
  .contenedorgrandeprofesional .itemb {
    margin-top: 10vh;
  }
  .contenedorgrandeprofesional .itemb ul {
    padding-left: 0;
  }
  .contenedorgrandeprofesional .itemb a {
    font-size: 1em !important;
  }
  .contenedorgrandeprofesional .itemc {
    margin-top: 10vh;
    margin-bottom: 0;
  }
  .contenedorgrandeprofesional .iteme {
    margin-top: 15vh;
    padding-top: 10vh;
    margin-left: -15vh;
    margin-right: 5vh;
  }
  .contenedorgrandeprofesional .itemf {
    padding-top: 0;
    margin-left: -15vh;
    margin-right: 5vh;
    margin-bottom: 5vh;
  }
  .contenedorgrandeprofesional .itemg {
    padding-top: 0;
    margin-left: -15vh;
    margin-right: 5vh;
    margin-bottom: 5vh;
  }
  .contenedorgrandeprofesional .itemh {
    padding-top: 0;
    margin-left: -15vh;
    margin-right: 5vh;
    margin-bottom: 5vh;
  }
  .contenedorgrandeprofesional .itemi {
    padding-top: 0;
    margin-left: -15vh;
    margin-right: 5vh;
  }
  .contenedorgrandeprofesional .itemi .boton-subir {
    margin-right: 20vh;
  }
  .contenedorgrandeprofesional .itemk {
    padding-top: 15vh;
    margin-bottom: 5vh;
    margin-left: -15vh;
    margin-right: 5vh;
  }
  .contenedorgrandeprofesional .iteml {
    padding-top: 0;
    margin-bottom: 5vh;
    margin-left: -15vh;
    margin-right: 5vh;
  }
  .contenedorgrandeprofesional .titulos {
    margin-left: 20vh;
  }
  /* datos */
  .contenedorgrandedatos {
    grid-template-areas: "itema" "itemb" "itemd" "itemc" "iteme" "itemf" "itemg" "itemh" "itemi" "itemj";
    grid-template-columns: 1fr;
    /* Box título */
    /* Links Navegación Interna */
    /* img excel */
    /* texto excel */
    /* img sql */
    /* texto sql */
    /* img powerbi */
    /* texto powerbi */
    /* img python */
    /* texto python */
  }
  .contenedorgrandedatos .itema {
    margin-bottom: 0;
    margin-left: 6vh;
  }
  .contenedorgrandedatos .itema a {
    margin-left: 0;
  }
  .contenedorgrandedatos .itemb {
    margin-top: 10vh;
  }
  .contenedorgrandedatos .itemb ul {
    padding-left: 0;
  }
  .contenedorgrandedatos .itemb a {
    font-size: 1em !important;
  }
  .contenedorgrandedatos .itemc {
    margin-top: 0;
    margin-bottom: 20vh;
    padding-top: 0;
  }
  .contenedorgrandedatos .itemd {
    margin-top: 15vh;
    padding-top: 10vh;
    margin-bottom: 0;
    margin-right: 5vh;
  }
  .contenedorgrandedatos .itemf {
    margin-top: 0;
    margin-bottom: 20vh;
    padding-top: 0;
  }
  .contenedorgrandedatos .iteme {
    margin-top: 15vh;
    padding-top: 10vh;
    margin-bottom: 0;
    margin-right: 5vh;
  }
  .contenedorgrandedatos .itemh {
    margin-top: 0;
    margin-bottom: 20vh;
    padding-top: 0;
  }
  .contenedorgrandedatos .itemg {
    margin-top: 15vh;
    padding-top: 10vh;
    margin-right: 5vh;
    margin-bottom: 0;
  }
  .contenedorgrandedatos .itemj {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 50vh;
  }
  .contenedorgrandedatos .itemi {
    margin-top: 15vh;
    padding-top: 10vh;
    margin-right: 5vh;
    margin-bottom: 0;
  }
  .contenedorgrandedatos .boton-subir {
    margin-left: 35vw;
  }
  /* contacto */
  .sectionmenu__c {
    margin-top: -5vh;
  }
  .formulariopao {
    padding-bottom: 30vh;
  }
}/*# sourceMappingURL=main.css.map */